body {
	 height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #655f5f;
}

/* Menu Section */
.page.active {
	display: grid;
    background-color:rgb(48, 44, 44);
    border-radius: 10px;
    padding: 20px;
    position: relative;
    margin: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
	width: 60%;
}

.menu-title {
   font-size: 1.5rem;
    color: white;
    margin: 0 0 20px;
}

/* Cart Icon and Badge Styling */
#cart-icon-container {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#cart-badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart-badge.hidden {
    display: none;
}

/* Item list styles */
.items-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item {
	background: #4CAF50;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.page {
    display: none;
    padding: 20px;
}

/* Active page will be shown */
.page.active {
    display: block;
	
}
#faktur{
	background: #4CAF50;
	margin-top: 50px;
	

}

/* Order Section */


#total {
    margin-top: 20px;
}



